<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title image | Components | HTWF</title>
    <meta name="description" content="Background image title with fade out text animation on scroll.">
    <script src="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/scripts/bootstrap/css/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/scripts/script.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/css/content-box.css">
    <link rel="stylesheet" href='https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/css/components.css'>
    <link rel="stylesheet" href='https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/css/animations.css'>
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/favicon.png">
</head>
<body>
    <div id="preloader"></div>
    <header class="fixed-top" data-menu-anima="fade-in">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar navbar-main">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/index.html"><img src="../../images/logo.png" alt="logo" /></a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav mega-menu-fullwidth">
                            <li class="dropdown mega-dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pages <span class="caret"></span></a>
                                <div class="mega-menu dropdown-menu multi-level row">
                                    <div class="col">
                                        <h5>Blog</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/blog/template-archive-blog-1.html">Blog archive 1</a></li>
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/blog/template-archive-blog-2.html">Blog archive 2</a></li>
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/blog/template-archive-blog-3.html">Blog archive 3</a></li>
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/blog/template-archive-blog-social.html">Blog archive social</a></li>
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/blog/template-archive-blog-grid.html">Blog grid</a></li>
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/blog/template-archive-blog-masonry.html">Blog masonry</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/blog/template-single-post-1.html">Post single 1</a></li>
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/blog/template-single-post-2.html">Post single 2</a></li>
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/blog/template-single-post-3.html">Post single 3</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Portfolio</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-file-text-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/portfolio/template-archive-portfolio-1.html">Portfolio archive 1</a></li>
                                            <li><i class="fa-li fa fa-file-text-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/portfolio/template-archive-portfolio-2.html">Portfolio archive 2</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><i class="fa-li fa fa-file-text-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/portfolio/template-single-portfolio-1.html">Portfolio single 1</a></li>
                                            <li><i class="fa-li fa fa-file-text-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/portfolio/template-single-portfolio-2.html">Portfolio single 2</a></li>
                                            <li><i class="fa-li fa fa-file-text-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/portfolio/template-single-portfolio-3.html">Portfolio single 3</a></li>
                                            <li><i class="fa-li fa fa-file-text-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/portfolio/template-single-portfolio-4.html">Portfolio single 4</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Gallery</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-image"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/gallery/template-gallery-masonry-2-cols.html">Gallery masonry - 2 cols</a></li>
                                            <li><i class="fa-li fa fa-image"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/gallery/template-gallery-masonry-3-cols.html">Gallery masonry - 3 cols</a></li>
                                            <li><i class="fa-li fa fa-image"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/gallery/template-gallery-masonry-4-cols.html">Gallery masonry - 4 cols</a></li>
                                            <li><i class="fa-li fa fa-image"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/gallery/template-gallery-grid-2-cols.html">Gallery grid - 2 cols</a></li>
                                            <li><i class="fa-li fa fa-image"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/gallery/template-gallery-grid-3-cols.html">Gallery grid - 3 cols</a></li>
                                            <li><i class="fa-li fa fa-image"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/gallery/template-gallery-grid-4-cols.html">Gallery grid - 4 cols</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><i class="fa-li fa fa-image"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/gallery/template-gallery-album-grid.html">Gallery album grid</a></li>
                                            <li><i class="fa-li fa fa-image"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/gallery/template-gallery-album-masonry.html">Gallery album masonry</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Others</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-file-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/contacts/template-contacts-1.html">Contacts 1</a></li>
                                            <li><i class="fa-li fa fa-file-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/contacts/template-contacts-2.html">Contacts 2</a></li>
                                            <li><i class="fa-li fa fa-file-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/onepage/template-onepage-1.html">Onepage 1</a></li>
                                            <li><i class="fa-li fa fa-file-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/onepage/template-onepage-2.html">Onepage 2</a></li>
                                            <li><i class="fa-li fa fa-file-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/others/faq.html">Faq</a></li>
                                            <li><i class="fa-li fa fa-file-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/others/coming-soon.html">Coming soon</a></li>
                                            <li><i class="fa-li fa fa-file-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/others/404.html">404 Page not found</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown mega-dropdown mega-tabs">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Features <span class="caret"></span></a>
                                <div class="mega-menu dropdown-menu multi-level row">
                                    <div class="tab-box" data-tab-anima="fade-bottom">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#">Titles</a></li>
                                            <li><a href="#">Headers</a></li>
                                            <li><a href="#">Components</a></li>
                                            <li><a href="#">Containers</a></li>
                                        </ul>
                                        <div class="panel active">
                                            <div class="col">
                                                <h5>Image background</h5>
                                                <ul class="fa-ul text-s">
                                                    <li><i class="fa-li fa fa-photo"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-image.html">Image background</a></li>
                                                    <li><i class="fa-li fa fa-photo"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-image-fullscreen.html">Image full-screen</a></li>
                                                    <li><i class="fa-li fa fa-photo"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-image-fullscreen-parallax.html">Image full-screen parallax</a></li>
                                                    <li><i class="fa-li fa fa-photo"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-image-parallax.html">Image parallax</a></li>
                                                    <li><i class="fa-li fa fa-photo"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-image-parallax-ken-burn.html">Image parallax ken-burn</a></li>
                                                </ul>
                                                <hr class="space xs">
                                                <h5>Base titles</h5>
                                                <ul class="fa-ul text-s">
                                                    <li><i class="fa-li fa fa-dot-circle-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-base-1.html">Title base 1</a></li>
                                                    <li><i class="fa-li fa fa-dot-circle-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-base-2.html">Title base 2</a></li>
                                                    <li><i class="fa-li fa fa-dot-circle-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-bootstrap.html">Title bootstrap</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <h5>Video background</h5>
                                                <ul class="fa-ul text-s">
                                                    <li><i class="fa-li fa fa-film"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-video-mp4.html">Video background MP4</a></li>
                                                    <li><i class="fa-li fa fa-film"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-video-youtube.html">Video background Youtube</a></li>
                                                    <li><i class="fa-li fa fa-film"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-video-fullscreen.html">Video full-screen</a></li>
                                                    <li><i class="fa-li fa fa-film"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-video-fullscreen-parallax.html">Video full-screen parallax</a></li>
                                                    <li><i class="fa-li fa fa-film"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-video-parallax.html">Video parallax</a></li>
                                                </ul>
                                                <hr class="space xs">
                                                <h5>Animation background</h5>
                                                <ul class="fa-ul text-s">
                                                    <li><i class="fa-li fa fa-leaf"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-animation.html">Animation background</a></li>
                                                    <li><i class="fa-li fa fa-leaf"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-animation-parallax.html">Animation background parallax</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <h5>Slider background</h5>
                                                <ul class="fa-ul text-s">
                                                    <li><i class="fa-li fa fa-sliders"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-slider.html">Slider background</a></li>
                                                    <li><i class="fa-li fa fa-sliders"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-slider-fullscreen.html">Slider full-screen</a></li>
                                                    <li><i class="fa-li fa fa-sliders"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-slider-fullscreen-parallax.html">Slider full-screen parallax</a></li>
                                                    <li><i class="fa-li fa fa-sliders"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/titles/title-slider-parallax.html">Slider parallax</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="col">
                                                <h5>Horizontal menus</h5>
                                                <ul class="fa-ul text-s">
                                                    <li><i class="fa-li fa fa-list"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/menus/menu-classic.html">Menu classic</a></li>
                                                    <li><i class="fa-li fa fa-list"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/menus/menu-classic-transparent.html">Menu classic transparent</a></li>
                                                    <li><i class="fa-li fa fa-list"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/menus/menu-big-logo.html">Menu big logo</a></li>
                                                    <li><i class="fa-li fa fa-list"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/menus/menu-subline.html">Menu subline</a></li>
                                                    <li><i class="fa-li fa fa-list"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/menus/menu-subtitle.html">Menu subtitle</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <h5>Horizontal menus</h5>
                                                <ul class="fa-ul text-s">
                                                    <li><i class="fa-li fa fa-list"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/menus/menu-middle-logo.html">Menu middle logo</a></li>
                                                    <li><i class="fa-li fa fa-list"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/menus/menu-middle-logo-top.html">Menu middle logo top</a></li>
                                                    <li><i class="fa-li fa fa-list"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/menus/menu-middle-box.html">Menu middle box</a></li>
                                                    <li><i class="fa-li fa fa-list"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/menus/menu-icons.html">Menu icons</a></li>
                                                    <li><i class="fa-li fa fa-list"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/menus/menu-icons-top.html">Menu icons top</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <h5>Side menus</h5>
                                                <ul class="fa-ul text-s">
                                                    <li><i class="fa-li fa fa-bars"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/menus/menu-side.html">Side classic</a></li>
                                                    <li><i class="fa-li fa fa-bars"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/menus/menu-side-lateral.html">Side lateral</a></li>
                                                    <li><i class="fa-li fa fa-bars"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/menus/menu-side-simple.html">Side simple</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="col">
                                                <h5>Components</h5>
                                                <ul class="fa-ul text-s">
                                                    <li><i class="fa-li fa fa-cubes"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/components/icons.html">Icons</a></li>
                                                    <li><i class="fa-li fa fa-plus"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/components/counters-countdown.html">Counters</a></li>
                                                    <li><i class="fa-li fa fa-clock-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/components/counters-countdown.html">Countdowns</a></li>
                                                    <li><i class="fa-li fa fa-tasks"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/components/progress-bars.html">Progress bars</a></li>
                                                    <li><i class="fa-li fa fa-circle-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/components/progress-bars.html">Circle progress bars</a></li>
                                                    <li><i class="fa-li fa fa-calendar"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/components/timeline.html">Timeline</a></li>
                                                    <li><i class="fa-li fa fa-map-marker"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/components/maps.html">Google maps</a></li>
                                                    <li><i class="fa-li fa fa-table"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/components/tables.html">Advanced table</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <h5>Main components</h5>
                                                <ul class="fa-ul text-s">
                                                    <li><i class="fa-li fa fa-cube"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/components/buttons.html">Buttons</a></li>
                                                    <li><i class="fa-li fa fa-photo"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/components/image-boxes.html">Image boxes</a></li>
                                                    <li><i class="fa-li fa fa-photo"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/components/image-boxes-advanced.html">Advanced image boxes</a></li>
                                                    <li><i class="fa-li fa fa-th-large"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/components/content-box.html">Content boxes</a></li>
                                                    <li><i class="fa-li fa fa-facebook-official"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/components/social-media.html">Social media</a></li>
                                                    <li><i class="fa-li fa fa-list"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/components/lists.html">Lists</a></li>
                                                    <li><i class="fa-li fa fa-paragraph"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/components/typography.html">Typography</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <h5>Footer</h5>
                                                <ul class="fa-ul text-s">
                                                    <li><i class="fa-li fa fa-download"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/footers/footer-parallax.html">Footer parallax</a></li>
                                                    <li><i class="fa-li fa fa-download"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/footers/footer-minimal.html">Footer minimal</a></li>
                                                    <li><i class="fa-li fa fa-download"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/footers/footer-base.html">Footer base</a></li>
                                                </ul>
                                                <hr class="space xs">
                                                <h5>PHP</h5>
                                                <ul class="fa-ul text-s">
                                                    <li><i class="fa-li fa fa-comments-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/components/contact-form.html">Contact form</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="col">
                                                <h5>Lists</h5>
                                                <ul class="fa-ul text-s">
                                                    <li><i class="fa-li fa fa-list-ol"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/containers/list-grid.html">Grid</a></li>
                                                    <li><i class="fa-li fa fa-list-ol"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/containers/list-masonry.html">Masonry</a></li>
                                                </ul>
                                                <hr class="space xs">
                                                <h5>Others</h5>
                                                <ul class="fa-ul text-s">
                                                    <li><i class="fa-li fa fa-expand"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/containers/lightbox.html">Lightbox and popups</a></li>
                                                    <li><i class="fa-li fa fa-sliders"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/containers/sliders.html">Sliders and carousels</a></li>
                                                    <li><i class="fa-li fa fa-toggle-down"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/containers/scroll-box-collapse.html">Scroll box</a></li>
                                                    <li><i class="fa-li fa fa-minus"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/containers/scroll-box-collapse.html">Collapse box</a></li>
                                                    <li><i class="fa-li fa fa-square-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/containers/tabs.html">Tabs</a></li>
                                                    <li><i class="fa-li fa fa-minus-square-o"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/containers/accordions.html">Accordions</a></li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <h5>Sections</h5>
                                                <ul class="fa-ul text-s">
                                                    <li><i class="fa-li fa fa-photo"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/containers/section-background-image.html">Background image</a></li>
                                                    <li><i class="fa-li fa fa-photo"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/containers/section-background-image-parallax.html">Background parallax</a></li>
                                                    <li><i class="fa-li fa fa-sliders"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/containers/section-slider.html">Slider</a></li>
                                                    <li><i class="fa-li fa fa-film"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/containers/section-background-video.html">Background video</a></li>
                                                    <li><i class="fa-li fa fa-leaf"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/containers/section-animations.html">Background animations</a></li>
                                                    <li><i class="fa-li fa fa-leaf"></i> <a href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/pages/features/containers/section-animations-parallax.html">Background animations parallax</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="header-title" style="background-image:url(../../images/thumb-large.png);">
        <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>Title image</h1>
                <p>Things don't have to change the world to be important</p>
            </div>
        </div>
    </div>
    <div class="section-empty section-item">
        <div class="container content">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Proin augue neque, vestibulum vitae urna quis, ornare lobortis sem. Maecenas sit amet gravida neque, in mollis nulla. Aenean vel nulla at
                        enim maximus varius vitae in tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                    <p class="block-quote quote-1">
                        It is better to lead from behind and to put others in front
                        especially when you celebrate victory when nice things occur.
                    </p>
                    <p>
                        Vulputate nobis impedit aute unde exercitation quod quidem! Hymenaeos placerat, temporibus quas incidunt, dicta proin ea quas morbi. Cursus eos, quidem. Soluta?
                        Iste repellendus. Tenetur natoque saepe facere odio sed. Fuga provident, exercitation dolorum minus tempor.
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        Proin augue neque, vestibulum vitae urna quis, ornare lobortis sem. Maecenas sit amet gravida neque, in mollis nulla. Aenean vel nulla at
                        enim maximus varius vitae in tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Vulputate nobis impedit aute unde exercitation quod quidem! Hymenaeos placerat, temporibus quas incidunt, dicta proin ea quas morbi. Cursus eos, quidem. Soluta?
                        Iste repellendus. Tenetur, natoque saepe facere odio sed. Fuga provident, exercitation dolorum minus tempor.
                    </p>
                    <p>
                        Proin augue neque, vestibulum vitae urna quis, ornare lobortis sem. Maecenas sit amet gravida neque, in mollis nulla. Aenean vel nulla at
                        enim maximus varius vitae in tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Vulputate nobis impedit aute unde exercitation quod quidem! Hymenaeos placerat, temporibus quas incidunt, dicta proin ea quas morbi. Cursus eos, quidem. Soluta?
                        Iste repellendus. Tenetur, natoque saepe facere odio sed. Fuga provident, exercitation dolorum minus exercitation quod quidem! Hymenaeos placerat
                        temporibus quas incidunt, dicta tempor.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-center">
        <div class="content">
            <div class="container">
                <div class="row">
                    <p class="footer-main">
                        Template with examples for Html website framework.
                        <br />
                        schiocco.io | framework-y.com
                    </p>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/scripts/font-awesome/css/font-awesome.min.css">
        <script src="https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src='https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/scripts/flexslider/jquery.flexslider-min.js'></script>
        <script src='https://cdn.jsdelivr.net/gh/depri12kurnia/HTWF@6c3c287e945ac75675627adcf5d63dba78904474/scripts/jquery.tab-accordion.js'></script>
    </footer>
</body>
</html>
